In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

In [7]:
data3 = pd.read_csv('BTC_BRL MercadoBitcoin.csv', thousands='.', decimal=',')
data2 = pd.read_csv('BTC_BRL MercadoBitcoin.csv',thousands='K',  decimal=',')


data = pd.concat([data2['Data'], data3[['Abertura','Máxima','Mínima','Último', 'Vol.']]], axis=1) 

data['Data']=pd.to_datetime(data['Data'], format="%d.%m.%Y")
data.columns = ['Date', 'Open', 'High', 'Low', 'Close', 'Volume']
data['Volume'] = data['Volume'].str.replace('K', ' ').str.replace(',','.').astype(float).mul(1000)
data.set_index('Date', inplace=True)
data

                Open      High       Low     Close  Volume
Date
2015-11-07    1400.0    1445.0    1376.5    1445.0    60.0
2015-11-08    1445.0    1465.0    1411.2    1440.9    20.0
2015-11-09    1440.9    1493.4    1400.0    1493.4    90.0
2015-11-10    1493.4    1493.4    1300.0    1340.0   140.0
2015-11-11    1340.0    1365.1    1161.0    1267.0   130.0
...              ...       ...       ...       ...     ...
2020-12-03  101259.9  101500.0  101145.9  101145.9   110.0
2020-12-04  101145.9  101145.9   97818.3   97818.3   150.0
2020-12-05   97818.3   99757.8   97818.3   99757.8    40.0
2020-12-06   99757.8  100119.0   99300.0  100119.0    20.0
2020-12-07  100119.0  100119.0   99780.0   99780.0    20.0

[1858 rows x 5 columns]

In [13]:
data.to_csv(f'BTC-BRL-{str(data.index[-1]).split(" ")[0]}.csv')